[submodule "funky-monitor"]
	path = funky-monitor
	url = git@github.com:TUM-DSE/funky-monitor.git
	branch = proteus
[submodule "funky-unikernel"]
	path = funky-unikernel
	url = git@github.com:TUM-DSE/funky-unikernel.git
	branch = proteus
