[submodule "funky-monitor"]
	path = funky-monitor
	url = https://github.com/TUM-DSE/proteus-monitor.git
	branch = proteus
[submodule "funky-unikernel"]
	path = funky-unikernel
	url = https://github.com/TUM-DSE/proteus-unikernel.git
	branch = proteus
[submodule "proteus-eval"]
	path = proteus-eval
	url = https://github.com/TUM-DSE/proteus-eval.git
[submodule "vitis-accel-examples"]
	path = vitis-accel-examples
	url = https://github.com/TUM-DSE/proteus-vitis-accel-examples.git
	branch = proteus-evaluation
[submodule "funky-rosetta"]
	path = funky-rosetta
	url = https://github.com/TUM-DSE/proteus-rosetta.git
	branch = proteus
